<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HeartLifeNew WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HeartLifeNew.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Notification - HeartLifeNew WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C8D4F0421B9C4C660085FD87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8D4F0561B9C4C660085FD87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8D4F0611B9C4C660085FD87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8D4F06A1B9C4C660085FD87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
